:root {

    /* ========= CORES PRINCIPAIS ========= */

    --color-primary: #69b51c;
    --color-primary-hover: #6BC348;
    --color-primary-dark: #4C8E2D;

    /* ========= BACKGROUND ========= */

    --bg-body: #0e1618;
    --bg-primary: #0d1517;
    --bg-secondary: #162325;
    --bg-card: #101D29;
    --bg-card-hover: #162534;

    /* ========= BORDAS ========= */

    --border-primary: #203445;
    --border-secondary: #2B4257;

    /* ========= TEXTO ========= */

    --text-title: #FFFFFF;
    --text-primary: #E4E9EE;
    --text-secondary: #A9B4BF;
    --text-muted: #768392;

    /* ========= STATUS ========= */

    --success: #5CC85C;
    --warning: #F6C343;
    --danger: #FF5C5C;
    --info: #4BA3FF;

    /* ========= SOMBRAS ========= */

    --shadow-card: rgba(0, 0, 0, .35);
    --shadow-primary: rgb(101, 101, 101);
    --shadow-green: rgba(126, 217, 87, .25);
    --shadow-green2: rgba(126, 217, 87, 0.077);

    /* ========= OVERLAY ========= */

    --overlay-dark: rgba(5, 9, 13, .75);
    --overlay-card: rgba(16, 29, 41, .80);

}

:root {

    --gradient-primary: linear-gradient(135deg,
            #7ED957 0%,
            #4C8E2D 100%);

    --gradient-background: linear-gradient(180deg,
            #05090D 0%,
            #08131C 100%);

    --gradient-card: linear-gradient(180deg,
            #101D29 0%,
            #0B141E 100%);

}

:root {

    --card-carnivore: #B91C1C;
    --card-herbivore: #3FA34D;
    --card-omnivore: #E9A23B;

    --period-jurassic: #0F766E;
    --period-cretaceous: #2563EB;
    --period-triassic: #7C3AED;

}

body {
    background: var(--bg-body);
    color: var(--text-primary);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}


.leaflet-popup-content-wrapper{
    background:#111827;
    border:1px solid #243343;
    border-radius:16px;
    box-shadow:0 10px 30px rgba(0,0,0,.45);
    overflow:hidden;
}

.leaflet-popup-tip{
    background:#111827;
}

.leaflet-popup-content{

    margin:0;
    width:200px !important;

    color:#FFF;

    font-family:inherit;
}


/* Card */

.popup-dino{

    display:flex;

    flex-direction:column;

    background:#111827;
}


/* Imagem */

.popup-img{

    width:100%;

    height:80px;

    object-fit:cover;

    display:block;
}


/* Informações */

.popup-info{

    padding:18px;
}

.popup-info h3{

    margin:0 0 14px;

    font-size:1.1rem;

    color:#69b51c;

    font-weight:700;
}


/* Itens */

.popup-item{

    display:flex;

    align-items:center;

    gap:10px;

    margin-top:10px;

    color:#D5DCE4;

    font-size:.88rem;
}

.popup-item svg{

    width:17px;

    height:17px;

    color:#69b51c;

    flex-shrink:0;
}


/* Hover */

.popup-dino:hover{

    transform:translateY(-2px);

    transition:.25s;
}