.mapa {
  margin: 15px;
  height: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;

}

#map {
  position: relative;
  width: 85%;
  height: 40rem;
  display: block;
  border-radius: 15px;
}

